
.about__title {
  margin: 0 0 50px 0;
}

.about__image {
  max-width: 600px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.about__information {
  max-width: 570px;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 80px;
}

.about__descr {
  line-height: 28px;
  margin: 0 0 48px 0;
}

.about__text:not(:last-child) {
  margin: 0 0 20px 0;
}

.about__quote {
  padding: 0 0 0 30px;
  margin: 0 0 40px 0;
}

.about__quote-text {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}

.about__quote-text:before,
.about__quote-text:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../../img/icon/quotes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 50px;
}

.about__quote-text:before {
  transform: rotate(180deg);
  top: -15px;
  left: -30px;

}

.about__quote-text:after {
  right: -30px;
  bottom: 10px;
}

.about__author {
  max-width: 390px;
  margin-right: 0;
  margin-left: auto;
}

.about__avatar {
  max-width: 80px;
  min-height: 80px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 0 0;
  border-radius: 50%;
}

.about__avatar img {
  width: 100%;
  object-fit: cover;
}

.about__name {
  max-width: 260px;
  display: inline-block;
  vertical-align: middle;
}