
.halls__title {
  margin: 0 0 60px 0;
}

.halls__item {
  max-width: 560px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px 0;
}

.halls__item:not(:nth-child(2n)) {
  margin: 0 20px 0 0;
}

.halls__pic {
  position: relative;
}

.halls__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}