
.item {
  display: flex;
  flex-wrap: wrap;
}

.item__person {
  flex: 0 1 280px;
}

.item__avatar {
  width: 280px;
  overflow: hidden;
  border-radius: 50%;
}

.item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__name {
  display: block;
  line-height: 28px;
  text-align: center;
  padding: 10px 0 0 0;
}

.item__description {
  flex: 0 1 700px;
  line-height: 28px;
  padding: 60px 0 0 20px;
}


